* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2f2f2;
  color: #333;
}

.span {
  padding: 0px 10px;
  line-height: 50px;
  width: 200px !important;
  overflow-x: scroll;
  background-color: #ffffff;
}
