*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #4B3869;
}
button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100px;
    border: none;
    outline: none;
    cursor: pointer;
    color: rgb(255, 255, 255);
    background: #63B4B8;
    font-size: 40px;
    border-radius: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    transition: .5s ease-in-out all;
    -webkit-transition: .5s ease-in-out all;
    -moz-transition: .5s ease-in-out all;
    -ms-transition: .5s ease-in-out all;
    -o-transition: .5s ease-in-out all;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
button:hover{
    box-shadow: 2px 2px 20px #c4ace7;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}