*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #FF865E;
    padding: 0 20px;
}
.container{
    position: relative;
    max-width: 1130px;
    min-height: 850px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.container .cart-nav{
    position: absolute;
    top: -6%;
    right: 0;
    width: 130px;
    padding: 12px 15px;
    background: rgb(255, 255, 255);
    display: flex;
    justify-content: space-evenly;
    cursor: pointer;
    border-radius: 3px;
}
.cart-nav .icon{
    font-size: 20px;
}
.cart-nav .icon i{
    color: #FF865E;
}
.cart-nav .icon span{
    font-weight: 500;
}
.cart-nav .item-numb{
    font-size: 16px;
    height: 23px;
    width: 23px;
    border-radius: 50%;
    background: #eec8bb;
    text-align: center;
    line-height: 22px;
    border: 1px solid #FF865E;
}

.container .card{
    position: relative;
    width: 32%;
    border-radius: 5px;
    background: rgb(255, 255, 255);
    overflow: hidden;
}
.container .card img{
    width: 100%;
    border-radius: 5px;  
    transition: ease all .6s;
}
.container .card:hover img{
    transform: scale(1.1);
}
.container .card .content{
    position: absolute;
    padding: 10px 20px 22px 20px;
    width: 100%;
    background: #fff;
    bottom: -56%;
    transition: ease all .7s;
    box-shadow: 0px -3px 10px 0px rgba(0, 0, 0, 0.5);
}
.container .card:hover .content{
    bottom: 0;
}
.card .content .row,
.card .content .buttons{
    display: flex;
    justify-content: space-between;
}
.card .content .row span{
    font-size: 22px;
    font-weight: 500;
}
.card .content .row p{
    font-size: 17px;
    font-weight: 500;
    color: #333;
}
.content .row .price{
    font-size: 25px;
    font-weight: 500;
    color: #FF865E;
}
.content .buttons{
    margin-top: 20px;
}
.content .buttons button{
    width: 100%;
    padding: 10px;
    font-size: 15px;
    font-weight: 500;
    outline: none;
    border: 2px solid #FF865E;
    border-radius: 3px;
    text-transform: uppercase;
    cursor: pointer;
    transition: .4s all ease;
}
.buttons button:first-child{
    background: #fff;
    color: #FF865E;

}
.buttons button:first-child:hover{
    background: #FF865E;
    color: #fff;

}
.buttons button:last-child{
    background: #FF865E;
    color: #fff;
    margin-left: 10px;
}
.buttons button:last-child:hover{
    background: #FF865E;
    border: 2px solid #fff;
}